.player1{
    background-color: blue;
}
.player2{
    background-color: skyblue;
}
.player3{
    background-color: green;
}
.player4{
    background-color: yellow;
}
.fplayer1{
    background-color: blue;
}
.fplayer2{
    background-color: skyblue;
}
.fplayer3{
    background-color: green;
}
.fplayer4{
    background-color: yellow;
}