.player1{
    background-color: lightgreen;
}
.player2{
    background-color: lightseagreen;
}
.player3{
    background-color: green;
}
.player4{
    background-color: darksalmon;
}
.fplayer1{
    background-color: lightgreen;
}
.fplayer2{
    background-color: lightseagreen;
}
.fplayer3{
    background-color: green;
}
.fplayer4{
    background-color: darksalmon;
}